.login-panel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.preview-img-box {
    max-width: 420px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
}
.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}