body {
    background-color: #f8f9fa;
}

.table-container {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.page-link.active {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
}

.search-input>input {
    border-radius: 50px 0 0 50px !important;
}

.search-input>button {
    border-radius: 0 50px 50px 0 !important;
}