.custom-modal,
.custom-modal * {
    user-select: none;
}

.custom-modal {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
    z-index:9999;
}
.custom-modal-content {
    background:white;
    padding:20px 30px;
    border-radius:8px;
    text-align:center;
    margin:auto;
    width:400px;
}
.custom-modal-buttons {
    margin-top:20px;
}
.custom-modal-buttons button {
    margin:0 10px;
    padding:6px 12px;
    border:none;
    border-radius:5px;
    background-color: #000000;
    color:white;
    cursor:pointer;
}
.custom-modal-buttons button:hover {
    background-color: #555555;
}