.profile-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.delete-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 0.75rem;
}